<div class="pageheader">
  <h1>Roles</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tabla de Roles</h3>
          <!--<div class="actions pull-right">-->
          <!--<i class="fa fa-expand"></i>-->
          <!--<i class="fa fa-chevron-down"></i>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</div>-->
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="example" class="table table-striped" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Acción</th>
              </tr>
              </thead>
              <tbody *ngFor="let role of roles">
              <tr>
                <th>{{role.name}}</th>
                <th>
                  <button>Editar</button>
                  <button>Eliminar</button>
                  {{role._id}}
                </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
