<div class="pageheader">
  <h1>proyectos works!</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tabla de Roles</h3>
          <!--<div class="actions pull-right">-->
          <!--<i class="fa fa-expand"></i>-->
          <!--<i class="fa fa-chevron-down"></i>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</div>-->
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="example" class="table table-striped" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Anunciante</th>
                <th>Fecha Inicio</th>
                <th>Fecha Finalizado</th>
                <th>Trimestres</th>
                <th>Inicio de Trimiestre</th>
                <th>Fin de Trimiestre</th>
                <th>Acción</th>
              </tr>
              </thead>
              <tbody *ngFor="let proyecto of proyectos">
              <tr>
                <th>
                  <div class="profile-pic text-center">
                    <img src="{{proyecto.imagen}}" alt="" width="75px" height="75px" class="img-circle"  [ngStyle]="setMyStyles(proyecto.status)" >
                    <p class="">{{proyecto.name}}</p>
                  </div>
                </th>
                <th>{{proyecto.anunciante}} </th>
                <th>{{proyecto.fechaInicio| date:'dd-mm-yyyy'}} </th>
                <th>{{proyecto.fechaFinalizado| date:'dd-mm-yyyy'}} </th>
                <th></th>
                <th><p *ngFor="let trimestre of proyecto.trimestre">- {{trimestre.name}}</p></th>
                <th></th>
                <th>
                  <button class="btn btn-success btn-trans btn-xs" >Editar</button><br>
                  <button class="btn btn-primary btn-trans btn-xs"  [routerLink]="['/proyecto',proyecto._id]" >Ver Proyecto</button><br>
                  <button class="btn btn-info btn-trans btn-xs" >Administrar</button><br>
                  <button class="btn btn-danger btn-trans btn-xs" >Eliminar</button>
                </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
