<div class="pageheader">
  <h1>Nuevo Puesto</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registrar Puesto Nuevo</h3>

          <div>
            <form [formGroup]="newPuestoform" (ngSubmit)="func_newPuesto()" class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-md-12">
                  <label for="nombre">*Nombre</label>
                  <input formControlName="nombre" name="nombre" type="text" class="form-control" id="nombre"
                         placeholder="Nombre">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block" [disabled]="!newPuestoform.valid">Crear Nuevo Puesto
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
