<div class="pageheader">
  <h1>Nuevo Usuario</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registrar Usuario Nuevo</h3>
          <!--<div class="actions pull-right">-->
          <!--<i class="fa fa-expand"></i>-->
          <!--<i class="fa fa-chevron-down"></i>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</div>-->
        </div>
        <div class="panel-body">
          <form [formGroup]="newUserform" (ngSubmit)="func_newUser()" class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">*Nombre</label>
                <input formControlName="nombre" name="nombre" type="text" class="form-control" id="nombre"
                       placeholder="Nombre">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">*Apellido Paterno</label>
                <input formControlName="apaterno" name="apaterno" type="text" class="form-control" id="apaterno"
                       placeholder="Apellido Paterno">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">*Apellido Materno</label>
                <input formControlName="amaterno" name="amaterno" type="text" class="form-control" id="amaterno"
                       placeholder="Nombre">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">*Correo</label>
                <input formControlName="email" name="email" type="email" class="form-control" id="email"
                       placeholder="Correo">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">*Contraseña</label>
                <input formControlName="password" name="password" type="password" class="form-control" id="password"
                       placeholder="Contraseña">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">Medios</label>
                <div>
                  <input *ngFor="let mediodata of mediosLista" class="btn btn-success btn-trans btn-xs" type="button" (click)="removeMedio(mediodata._id)" value="{{mediodata.name}}" >
                  <input formControlName="listMedio" name="listMedio" type="hidden" class="form-control">
                </div>
                <select class="form-control input-lg" (change)="addMedio()" formControlName="selectMedio" name="selectMedio">
                  <option *ngFor="let medio of medios" value="{{medio._id}}"  >{{medio.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">Canales</label>
                <div>
                  <input *ngFor="let canaldata of canalesLista" class="btn btn-success btn-trans btn-xs" type="button" (click)="removeCanal(canaldata._id)" value="{{canaldata.name}}" >
                  <input formControlName="listCanal" name="listCanal" type="hidden" class="form-control">
                </div>
                <select class="form-control input-lg" (change)="addCanal()" formControlName="selectCanal" name="selectCanal">
                  <option *ngFor="let canal of canales" value="{{canal._id}}"  >{{canal.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">Role</label>Este es unico
                <select class="form-control input-lg" formControlName="selectRole" name="selectRole">
                  <option *ngFor="let role of roles" value="{{role._id}}"  >{{role.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label for="nombre">Puesto</label>Este es unico
                <select class="form-control input-lg"  formControlName="selectPuesto" name="selectPuesto">
                  <option *ngFor="let puesto of puestos" value="{{puesto._id}}"  >{{puesto.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-primary btn-block" [disabled]="!newUserform.valid">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
