<div class="pageheader">
  <h1>Clientes</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tabla de Roles</h3>
          <!--<div class="actions pull-right">-->
          <!--<i class="fa fa-expand"></i>-->
          <!--<i class="fa fa-chevron-down"></i>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</div>-->
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="example" class="table table-striped" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Proyectos</th>
                <th>Trimestres</th>
                <th>Inicio de Trimiestre</th>
                <th>Fin de Trimiestre</th>
                <th>Acción</th>
              </tr>
              </thead>
              <tbody *ngFor="let cliente of clientes">
              <tr>
                <th>
                    <div class="profile-pic text-center">
                      <img src="{{cliente.imagen}}" alt="" width="75px" height="75px" class="img-circle"  [ngStyle]="setMyStyles(cliente.status)" >
                      <p class="">{{cliente.name}}</p>
                    </div>
                </th>
                <th>{{cliente.fecha}} </th>
                <th></th>
                <th><p *ngFor="let trimestre of cliente.triemestres">- {{trimestre.fecha}}</p></th>
                <th></th>
                <th></th>
                <th>
                  <button class="btn btn-success btn-trans btn-xs" >Editar</button><br>
                  <button class="btn btn-primary btn-trans btn-xs" >Ver Proyectos</button><br>
                  <button class="btn btn-info btn-trans btn-xs" >Administrar</button><br>
                  <button class="btn btn-danger btn-trans btn-xs" >Eliminar</button>
                </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
