<section id="main-wrapper" class="theme-default">
  <header id="header">
    <!--logo start-->
    <div class="brand">
      <img src="assets/img/logo.png" class="img-fluid pull-xs-left" alt="...">
    </div>
    <!--logo end-->
    <ul class="nav navbar-nav navbar-left">
      <li class="toggle-navigation toggle-left">
        <button class="sidebar-toggle" id="toggle-left">
          <i class="fa fa-bars"></i>
        </button>
      </li>
      <li class="toggle-profile hidden-xs">
        <button type="button" class="btn btn-default" id="toggle-profile">
          <i class="icon-user"></i>
        </button>
      </li>
      <li class="hidden-xs">
        <input type="text" class="search" placeholder="Buscar Proyecto...">
        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
        </button>
      </li>
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li class="toggle-navigation toggle-right">-->
        <!--<button class="sidebar-toggle" id="toggle-right">-->
          <!--<i class="fa fa-indent"></i>-->
        <!--</button>-->
      <!--</li>-->
    <!--</ul>-->
  </header>
  <!--sidebar left start-->
  <aside class="sidebar sidebar-left">
    <div class="sidebar-profile">
      <div class="avatar">
        <img class="img-circle profile-image" src="assets/img/imgUsers/users-2.svg" alt="profile">
        <i class="on border-dark animated bounceIn"></i>
      </div>
      <div class="profile-body dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>
          {{user.name}} {{user.apaterno}}<span class="caret"></span></h4></a>
        <small class="title">{{user.puesto.name}}</small>
        <ul class="dropdown-menu animated fadeInRight" role="menu">
          <!--<li class="profile-progress">-->
            <!--<h5>-->
              <!--<span>50%</span>-->
              <!--<small>Profile complete</small>-->
            <!--</h5>-->
            <!--<div class="progress progress-xs">-->
              <!--<div class="progress-bar progress-bar-primary" style="width: 80%">-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <li class="divider"></li>
          <li>
            <a [routerLink]="['userprofile']" href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>Mi Cuenta</a>
          </li>
          <li>
            <a href="javascript:void(0);">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <h5 class="sidebar-header">Navigation</h5>
      <ul class="nav nav-pills nav-stacked">
        <li routerLinkActive="active">
          <a [routerLink]="['home']" title="Dashboard">
            <i class="fa  fa-fw fa-tachometer"></i> Dashboard
          </a>
        </li>
        <li class="nav-dropdown" routerLinkActive="active">
          <a title="UI Elements">
            <i class="fa fa-fw icon-users " ></i> Usuarios
          </a>
          <ul class="nav-sub">
            <li routerLinkActive="active">
              <a [routerLink]="['usuario/nuevousuario']" title="Buttons">
                Nuevo Usuario
              </a>
            </li>
            <li routerLinkActive="active">

              <a [routerLink]="['usuarios']" title="Sliders &amp; Progress">
                Visualizar Usuarios
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-dropdown" routerLinkActive="active">
          <a title="UI Elements">
            <i class="fa fa-fw icon-users " ></i> Medios
          </a>
          <ul class="nav-sub">
            <li routerLinkActive="active">
              <a [routerLink]="['medio/nuevomedio']" title="Buttons">
                Nuevo Medio
              </a>
            </li>
            <li routerLinkActive="active">

              <a [routerLink]="['medios']" title="Sliders &amp; Progress">
                Visualizar Medios
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-dropdown" routerLinkActive="active">
          <a title="UI Elements">
            <i class="fa fa-fw icon-users " ></i> Roles
          </a>
          <ul class="nav-sub">
            <li routerLinkActive="active">
              <a [routerLink]="['role/nuevorole']" title="Buttons">
                Nuevo Role
              </a>
            </li>
            <li routerLinkActive="active">

              <a [routerLink]="['roles']" title="Sliders &amp; Progress">
                Visualizar Roles
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-dropdown" routerLinkActive="active">
          <a title="UI Elements">
            <i class="fa fa-fw icon-users " ></i> Canales
          </a>
          <ul class="nav-sub">
            <li routerLinkActive="active">
              <a [routerLink]="['canal/nuevocanal']" title="Buttons">
                Nuevo Canal
              </a>
            </li>
            <li routerLinkActive="active">

              <a [routerLink]="['canales']" title="Sliders &amp; Progress">
                Visualizar Canales
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-dropdown" routerLinkActive="active">
          <a title="UI Elements">
            <i class="fa fa-fw icon-users " ></i> Puestos
          </a>
          <ul class="nav-sub">
            <li routerLinkActive="active">
              <a [routerLink]="['puesto/nuevopuesto']" title="Buttons">
                Nuevo Puesto
              </a>
            </li>
            <li routerLinkActive="active">

              <a [routerLink]="['puestos']" title="Sliders &amp; Progress">
                Visualizar Puestos
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-dropdown" routerLinkActive="active">
          <a title="UI Elements">
            <i class="fa fa-fw icon-users " ></i> Clientes
          </a>
          <ul class="nav-sub">
            <li routerLinkActive="active">
              <a [routerLink]="['cliente/nuevocliente']" title="Buttons">
                Nuevo Cliente
              </a>
            </li>
            <li routerLinkActive="active">

              <a [routerLink]="['clientes']" title="Sliders &amp; Progress">
                Visualizar Clientes
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-dropdown" routerLinkActive="active">
          <a title="UI Elements">
            <i class="fa fa-fw icon-users " ></i> Proyectos
          </a>
          <ul class="nav-sub">
            <li routerLinkActive="active">
              <a [routerLink]="['proyecto/nuevoproyecto']" title="Buttons">
                Nuevo Proyecto
              </a>
            </li>
            <li routerLinkActive="active">

              <a [routerLink]="['proyectos']" title="Sliders &amp; Progress">
                Visualizar Proyectos
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </aside>
  <!--sidebar left end-->
  <!--main content start-->
  <section class="main-content-wrapper">
    <router-outlet></router-outlet>
  </section>
  <!--main content end-->

</section>
