<div class="pageheader">
  <h1>{{proyecto.name}}</h1>
</div>
<section id="main-content">
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <div class="panel-body profile-wrapper">
          <div class="col-md-3">
            <div class="profile-pic text-center">
              <img src="{{proyecto.imagen}}" alt="" class="img-circle" width="200px" height="200px"
                   [ngStyle]="setMyStyles(proyecto.status)">
            </div>
          </div>
          <div class="col-md-9">
            <div class="profile-info">
              <h1>{{proyecto.name}}</h1>
              <span class="text-muted">UI Designer</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.
              </p>
              <div class="connect">
                <input type="button" class="btn btn-primary btn-trans" (click)="creaTrimestre()"
                       value="Nuevo Trimestre">
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
      </section>
      <div *ngIf="proyecto.trimestre.length==0" class="text-center">
        <section class="panel">
          <label>Estoy Triste :,( no tengo trimestres que mostrar</label><br>
          <label>Agregame un trimestre aqui</label><br>
          <input type="button" class="btn btn-primary btn-trans" (click)="creaTrimestre()"
                 value="Agregar Trimestre Trimestre">
        </section>
      </div>
      <div *ngIf="proyecto.trimestre.length>0" class="text-center">
        <section class="panel">
          <div class="panel-body">
            <div class="table-responsive">
              <table cellspacing="0" width="100%" class="table table-striped">
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Fecha</th>
                  <th>Medios</th>
                </tr>
                <tr *ngFor="let trimestre of proyecto.trimestre">
                  <th>{{trimestre._id}}</th>
                  <th>{{trimestre.name}}</th>
                  <th>{{trimestre.fechaCreacion| date:'dd-MM-yyyy'}}</th>
                  <th>
                    <div *ngFor="let reporte of trimestre.reportes">
                      <button class="btn btn-success btn-trans btn-xs"  data-toggle="modal" data-target="#scrollingModal">{{reporte.medio.name}}{{reporte.idReporte}}</button>
                    </div>
                  </th>
                </tr>
              </table>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
</section>

<!-- Scrolling Modal -->
<div class="modal fade" id="scrollingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Scrolling Modal</h4>
      </div>
      <div class="modal-body modal-scroll">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Scrolling Modal -->

