<script src="../../cliente/nuevo-cliente/nuevo-cliente.component.ts"></script>
<div class="pageheader">
  <h1>Crear Nuevo Proyecto</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registrar Nuevo Proyecto</h3>
          <div>
            <form [formGroup]="newProyectoform" (ngSubmit)="func_newProyecto()"
                  class="form-horizontal" role="form">

              <div class="form-group">
                <div class="col-md-12">
                  <label for="nombre">*Nombre del Proyecto</label>
                  <input formControlName="nombre" name="nombre"
                         type="text" class="form-control" id="nombre"
                         placeholder="Nombre del Proyecto">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label for="nombre">*Nombre Anunciante</label>
                  <input formControlName="anunciante" name="anunciante"
                         type="text" class="form-control" id="anunciante"
                         placeholder="Nombre Anunciante">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <img src="{{imagen}}" alt="" name="imagen"  width="75px" height="75px" class="img-circle" >
                  <label for="exampleInputFile">Cargar Imagen</label>
                  <input type="file" (change)="onFileChange($event)" id="exampleInputFile"name="magenProyecto">
                  <p class="help-block">Example block-level help text here.</p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block" [disabled]="!newProyectoform.valid">Crear Cliente Nuevo
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
