<div class="pageheader">
  <h1>Lista Usuarios</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Data Tables</h3>
          <!--<div class="actions pull-right">-->
          <!--<i class="fa fa-expand"></i>-->
          <!--<i class="fa fa-chevron-down"></i>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</div>-->
        </div>
        <div class="panel-body">
          <div class="table-responsive">
          <table id="example" class="table table-striped" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Puesto</th>
              <th>Canal</th>
              <th>Medios</th>
              <th>Role</th>
              <th>Accion</th>
            </tr>
            </thead>

            <tbody *ngFor="let user of users">
            <tr>
              <th><p>{{user.name}} {{user.apaterno}}</p></th>
              <th><p>{{user.correo}}</p></th>
              <th><p>{{user.puesto.name}}</p></th>
              <th>
                <p *ngFor="let canal of user.canal">{{canal.name}}</p>
              </th>
              <th>
                <p *ngFor="let medio of user.medio">{{medio.name}}</p>
              </th>
              <th><p>{{user.role.name}}</p></th>
              <th>
                <button class="btn btn-success btn-trans btn-xs"[routerLink]="['/edituser',user.idUser]" >Editar</button>
                <button class="btn btn-danger btn-trans btn-xs" [routerLink]="['deleteuser',user.idUser]">Eliminar</button>
              </th>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Page Leve JS -->
<script src="assets/plugins/dataTables/js/jquery.dataTables.js"></script>
<script src="assets/plugins/dataTables/js/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function () {
    $('#example').dataTable();
  });
</script>
