<div class="pageheader">
  <h1>Medios</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Data Tables</h3>
          <!--<div class="actions pull-right">-->
          <!--<i class="fa fa-expand"></i>-->
          <!--<i class="fa fa-chevron-down"></i>-->
          <!--<i class="fa fa-times"></i>-->
          <!--</div>-->
        </div>
        <div class="panel-body">
          <div class="table-responsive">
          <table id="example" class="table table-striped" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Canal</th>
              <th>Accion</th>
            </tr>
            </thead>

            <tbody *ngFor="let medio of medios">
            <tr>
              <th>{{medio.name}}</th>
              <th>{{medio.canal.name}}</th>
              <th><button>Editar</button> <button>Eliminar</button>  {{medio._id}}</th>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

