<div class="pageheader">
  <h1>Registro de Nuevo Medio</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registrar Medio Nuevo</h3>
          <div>
            <form [formGroup]="newMedioform" (ngSubmit)="func_newMedio()" class="form-horizontal" role="form">

              <div class="form-group">
                <div class="col-md-12">
                  <label for="nombre">*Nombre</label>
                  <input formControlName="nombre" name="nombre" type="text" class="form-control" id="nombre"
                         placeholder="Nombre">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label for="nombre">canal</label>Este es unico
                  <select class="form-control input-lg" formControlName="selectCanal" name="selectCanal">
                    <option *ngFor="let canal of canales" value="{{canal._id}}"  >{{canal.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block" [disabled]="!newMedioform.valid">Crear Nuevo Medio</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
