<section class="container animated fadeInUp">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="login-wrapper">
        <header>
          <div class="brand">
            <img src="assets/img/logo.png" class="img-fluid pull-xs-left" alt="...">
          </div>
        </header>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              Sign In
            </h3>
          </div>
          <div class="panel-body">
            <p> Login to access your account.</p>
            <form [formGroup]="loginform" (ngSubmit)="func_login()" class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-md-12">
                  <input formControlName="correo" name="correo" type="email" class="form-control" id="email"
                         placeholder="Correo">
                  <i class="fa fa-user"></i>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <input formControlName="password" name="password" type="password" class="form-control" id="password"
                         placeholder="Contraseña">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block" [disabled]="!loginform.valid">Sign in</button>
                </div>
              </div>
            </form>
            {{loginform.valid}}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
