<div class="pageheader">
  <h1>Nuevo Puesto</h1>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registrar Puesto Nuevo</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="example" class="table table-striped" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Acción</th>
              </tr>
              </thead>

              <tbody *ngFor="let puesto of puestos">
              <tr>
                <th>{{puesto.name}}</th>
                <th>
                  <button>Editar</button>
                  <button>Eliminar</button>
                  {{puesto._id}}
                </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
